<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Jake Knowles | Front-End Developer</title>
        <meta name="description" content="">

        <link rel="shortcut icon" href="/assets/images/favicon.png">
        <link rel="apple-touch-icon" href="/assets/images/favicon.png">

        <link rel="stylesheet" href="/assets/styles/main.css">
        <!--[if lte IE 8]><link rel="stylesheet" href="/assets/styles/ie.css" /><![endif]-->
        <script src="/bower_components/modernizr/modernizr.js"></script>
    </head>
    

    <body>

<!-- Header Nav -->
        <section class="fullwidth-sm cookie" id="cookie">
            <div class="container">
                <div class="cookie-text">
                    Sed ut perspiciatis unde omnis iste natus error sit aperiam, eaque ipsa quae ab illo inventore eritatis et quasi.
                </div>
                
                <a href="#" class="btn btn-sm">View Cookie Policy</a> 
                <a href="?" class="cookie-close">&times;</a>
            </div>
        </section>


        <header class="fullwidth fullwidth-sm header">
            <div class="container">
                <a href="/" class="logo"><img src="/assets/images/logo.svg" alt="<%= website_name %>"></a>

                <nav class="nav nav-primary">
                    <a href="index.html" class="active">Home</a>
                    <a href="about.html">About</a>
                    <a href="news.html">News</a>
                    <a href="events.html">Events</a>
                    <a href="gallery.html">Photo Gallery</a>
                </nav>

                <a href="#" class="nav-mobile-toggle">
                    <i class="icon-navicon"></i>
                </a>
            </div>
        </header> 


<!-- Header Image -->   
        <section class="fullwidth-bg header-img header-img-lg">
            <div class="cycle-slideshow" data-cycle-fx="fade" data-cycle-swipe="true" data-cycle-timeout="0" data-cycle-slides="> .item">
                <div class="item item-first">
                    <div class="header-text">
                        <div class="container"><h1>This is caption 1</h1></div>
                    </div>

                    <img src="/assets/images/placeholders/header-1-lg.jpg" alt="Alt text" />
                </div>

                <div class="item">
                    <div class="header-text">
                        <div class="container"><h1>This is caption 2</h1></div>
                    </div>

                    <img src="/assets/images/placeholders/header-2-lg.jpg" alt="Alt text" />
                </div>

                <div class="item">
                    <div class="header-text">
                        <div class="container"><h1>This is caption 3</h1></div>
                    </div>

                    <img src="/assets/images/placeholders/header-3-lg.jpg" alt="Alt text" />
                </div>

                <a href="#" class="cycle-prev"><i class="icon-chevron-left"></i></a>
                <a href="#" class="cycle-next"><i class="icon-chevron-right"></i></a>
                <div class="cycle-pager"></div>

            </div>
        </section>


        <section class="fullwidth">
            <div class="container">

                <div class="panel-intro">
                    <h1>A panel intro</h1>
                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore eritatis et quasi.</p>
                </div>

                <h2>Heading 2</h2>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore eritatis et quasi.</p>
                
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore eritatis et quasi.</p>

                <p><a href="#" class="icon-chevron-left icon-inline-left">This link has a left arrow</a> <a href="#" class="icon-chevron-right icon-inline-right">This link has a right arrow</a> <a href="#" class="icon-chevron-left icon-inline-left">This link has a left arrow</a> </p>

                <div class="row">
                    <div class="col-sm-6">
                        <h3>Heading 3</h3>
                        <p>Sed ut perspiciatis <a href="#">unde omnis</a> iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore eritatis et quasi.</p>
                        <p>Sed ut perspiciatis unde omnis iste <a href="#">natus error sit</a> voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore eritatis et quasi.</p>

                        <h4>Heading 4</h4>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore eritatis et quasi.</p>

                        <h5>Heading 5</h5>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore eritatis et quasi.</p>

                    </div>

                    <div class="col-sm-6">
                        <h3>Heading 3</h3>
                        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore eritatis et quasi.</p>

                        <hr>

                        <ul>
                            <li>Pellentesque dictum, quam id tempus tincidunt.</li>
                            <li>Dapibus enim nunc in nisl. Curabitur.</li>
                            <li>Commodo. Cum sociis natoque penatibus.</li>
                        </ul>

                        <a href="#" class="btn">Find out more</a>
                    </div>
                </div>

            </div>
        </section>


        <section class="fullwidth bg-grey grid">
            <div class="container">

                <div class="row">
                    <div class="col-sm-4">
                        <div class="item">
                            <a href="#"><img src="/assets/images/placeholders/content-sm.jpg" alt="Alt text" class="img-responsive"></a>

                            <h3>Heading 3</h3>
                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum. </p>

                            <a class="btn" href="#">More</a>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="item">
                            <a href="#" class="overlay-wrap">
                                <h4 class="overlay">Overlay text</h4>
                                <img src="/assets/images/placeholders/content-sm.jpg" alt="Alt text" class="img-responsive">
                            </a>

                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum. </p>

                            <a class="btn" href="#">More</a>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="item">
                            <a href="#" class="overlay-wrap">
                                <h4 class="overlay">Overlay text</h4>
                                <img src="/assets/images/placeholders/content-sm.jpg" alt="Alt text" class="img-responsive">
                            </a>

                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum. </p>

                            <a class="btn" href="#">More</a>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-4">
                        <div class="item">
                            <a href="#"><img src="/assets/images/placeholders/content-sm.jpg" alt="Alt text" class="img-responsive"></a>

                            <h3>Heading 3</h3>
                            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum. </p>

                            <a class="btn" href="#">More</a>
                        </div>
                    </div>
                </div>

            </div>
        </section>


        <section class="fullwidth">
            <div class="container">

                <h2>Contact Us</h2>

                <form class="form-contact form-validate">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="enquiryFirstName">First name</label>
                                <input type="text" class="form-control input-lg" id="enquiryFirstName" name="enquiryFirstName" data-bv-notempty="true" data-bv-notempty-message="First name is required">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="enquiryLastName">Last name</label>
                                <input type="text" class="form-control input-lg" id="enquiryLastName" name="enquiryLastName" data-bv-notempty="true" data-bv-notempty-message="Last name is required">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="enquiryPhone">Phone</label>
                                <input type="tel" class="form-control input-lg" id="enquiryPhone" name="enquiryPhone" data-bv-notempty="true" data-bv-notempty-message="Phone number is required" data-bv-phone="true" data-bv-phone-country="GB" data-bv-phone-message="Please enter a valid phone number">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="enquiryEmail">Email</label>
                                <input type="email" class="form-control input-lg" id="enquiryEmail" name="enquiryEmail" data-bv-emailaddress="true" data-bv-emailaddress-message="Invalid email address" data-bv-notempty="true" data-bv-notempty-message="Email address is required">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="enquiryConfirmEmail">Confirm email</label>
                                <input type="email" class="form-control input-lg" id="enquiryConfirmEmail" name="enquiryConfirmEmail" data-bv-emailaddress="true" data-bv-emailaddress-message="Invalid email address" data-bv-notempty="true" data-bv-notempty-message="Confirm email address is required" data-bv-identical="true" data-bv-identical-field="enquiryEmail" data-bv-identical-message="The email addresses do not match">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-form">Send</button>
                        </div>
                    </div>
                </form> 

            </div>
        </section>


<!-- Grid Examples -->  
        <section class="fullwidth">
            <div class="container">

                <h3>Three equal columns</h3>

                <div class="row">
                    <div class="col-md-4">.col-md-4</div>
                    <div class="col-md-4">.col-md-4</div>
                    <div class="col-md-4">.col-md-4</div>
                </div>           

                <h3>Three unequal columns</h3>
                <p>Get three columns <strong>starting at desktops and scaling to large desktops</strong> of various widths. Remember, grid columns should add up to twelve for a single horizontal block. More than that, and columns start stacking no matter the viewport.</p>
                <div class="row">
                    <div class="col-md-3">.col-md-3</div>
                    <div class="col-md-6">.col-md-6</div>
                    <div class="col-md-3">.col-md-3</div>
                </div>

                <h3>Two columns</h3>
                <p>Get two columns <strong>starting at desktops and scaling to large desktops</strong>.</p>
                <div class="row">
                <div class="col-md-8">.col-md-8</div>
                <div class="col-md-4">.col-md-4</div>
                </div>

                <h3>Full width, single column</h3>
                <p class="text-warning">No grid classes are necessary for full-width elements.</p>

                <hr>

                <h3>Two columns with two nested columns</h3>
                <p>Per the documentation, nesting is easy&mdash;just put a row of columns within an existing column. This gives you two columns <strong>starting at desktops and scaling to large desktops</strong>, with another two (equal widths) within the larger column.</p>
                <p>At mobile device sizes, tablets and down, these columns and their nested columns will stack.</p>
                <div class="row">
                    <div class="col-md-8">
                    .col-md-8
                        <div class="row">
                            <div class="col-md-6">.col-md-6</div>
                            <div class="col-md-6">.col-md-6</div>
                        </div>
                    </div>
                    <div class="col-md-4">.col-md-4</div>
                </div>

                <hr>

                <h3>Mixed: mobile and desktop</h3>
                <p>The Bootstrap 3 grid system has four tiers of classes: xs (phones), sm (tablets), md (desktops), and lg (larger desktops). You can use nearly any combination of these classes to create more dynamic and flexible layouts.</p>
                <p>Each tier of classes scales up, meaning if you plan on setting the same widths for xs and sm, you only need to specify xs.</p>
                <div class="row">
                    <div class="col-xs-12 col-md-8">.col-xs-12 .col-md-8</div>
                    <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
                    <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
                    <div class="col-xs-6 col-md-4">.col-xs-6 .col-md-4</div>
                </div>

                <div class="row">
                    <div class="col-xs-6">.col-xs-6</div>
                    <div class="col-xs-6">.col-xs-6</div>
                </div>

                <hr>

                <h3>Mixed: mobile, tablet, and desktop</h3>
                <p></p>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-lg-8">.col-xs-12 .col-sm-6 .col-lg-8</div>
                    <div class="col-xs-6 col-lg-4">.col-xs-6 .col-lg-4</div>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
                    <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
                    <div class="col-xs-6 col-sm-4">.col-xs-6 .col-sm-4</div>
                </div>

                <hr>

                <h3>Column clearing</h3>
                <p><a href="http://getbootstrap.com/css/#grid-responsive-resets">Clear floats</a> at specific breakpoints to prevent awkward wrapping with uneven content.</p>
                <div class="row">
                    <div class="col-xs-6 col-sm-3">
                    .col-xs-6 .col-sm-3
                    <br>
                    Resize your viewport or check it out on your phone for an example.
                    </div>

                    <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>

                    <!-- Add the extra clearfix for only the required viewport -->
                    <div class="clearfix visible-xs"></div>

                    <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
                    <div class="col-xs-6 col-sm-3">.col-xs-6 .col-sm-3</div>
                </div>

                <hr>

                <h3>Offset, push, and pull resets</h3>
                <p>Reset offsets, pushes, and pulls at specific breakpoints.</p>
                <div class="row">
                    <div class="col-sm-5 col-md-6">.col-sm-5 .col-md-6</div>
                    <div class="col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0">.col-sm-5 .col-sm-offset-2 .col-md-6 .col-md-offset-0</div>
                </div>

                <div class="row">
                    <div class="col-sm-6 col-md-5 col-lg-6">.col-sm-6 .col-md-5 .col-lg-6</div>
                    <div class="col-sm-6 col-md-5 col-md-offset-2 col-lg-6 col-lg-offset-0">.col-sm-6 .col-md-5 .col-md-offset-2 .col-lg-6 .col-lg-offset-0</div>
                </div>

            </div>
        </section>


<!-- Footer -->   
        <footer class="fullwidth-sm footer">
            <div class="container">
                <div class="row">

                    <div class="col-sm-3">
                        <a href="/" class="logo"><img src="/assets/images/logo.svg" alt="<%= website_name %>"></a>
                    </div>

                    <div class="col-sm-6">
                        Copyright &copy; 2014 CLIENT NAME All rights reserved. <br>
                        <nav class="nav nav-inline nav-footer">
                            <a href="#">Terms &amp; Conditions</a>
                            <a href="#">Privacy Policy</a>
                            <a href="#">Accessibility</a> 
                            <a href="#">Cookie Policy</a>
                        </nav>
                    </div>

                    <div class="col-sm-3">
                        <nav class="nav nav-social">
                            <a href="#" class="facebook"><i class="icon-facebook"></i></a>
                            <a href="#" class="instagram"><i class="icon-instagram"></i></a>
                            <a href="#" class="twitter"><i class="icon-twitter"></i></a>
                            <a href="#" class="youtube"><i class="icon-youtube"></i></a>
                        </nav>
                    </div>

                </div>
            </div>
        </footer>


    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="/bower_components/jquery/dist/jquery.min.js"><\/script>')</script>

    <!-- build:js assets/scripts/plugins.js -->   
    <script src="/bower_components/SimpleStateManager/dist/ssm.min.js"></script>

    <script src="/bower_components/jquery-cycle2/build/jquery.cycle2.min.js"></script>
    <script src="/bower_components/jquery-cycle2/build/plugin/jquery.cycle2.swipe.min.js"></script>

    <script src="/bower_components/bootstrapValidator/dist/js/bootstrapValidator.min.js"></script>

    <script src="/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>

    <script src="/bower_components/respond/dest/respond.min.js"></script> 

    <script src="/assets/scripts/cookies.min.js"></script>
    <!-- endbuild -->

    <script src="/assets/scripts/plugins.js"></script>
    <script src="/assets/scripts/main.js"></script>

    <!-- 
    <script src="/assets/scripts/plugins.min.js"></script>
    <script src="/assets/scripts/main.min.js"></script>
    -->

    </body>
</html>