// ----- Layout -----

// Custom containers and columns
.fullwidth, .fullwidth-sm, .fullwidth-lg, .fullwidth-np, .fullwidth-bg {
	width: 100%;
	@include clearfix();
	clear: both;
}
.fullwidth-lg {
	padding-top: 45px;
	padding-bottom: 45px;
}
.fullwidth {
	padding-top: 30px;
	padding-bottom: 30px;
}
.fullwidth-sm {
	padding-top: 15px;
	padding-bottom: 15px;
}
.fullwidth-bg, .fullwidth-np {
	padding-top: 0;
	padding-bottom: 0;
}
.fullwidth-bg {
	background-position: center bottom;
	background-repeat: no-repeat;
	background-size: cover;
}

	.col-np {
		padding-left: 0;
		padding-right: 0;
	}
	.col-lp {
		padding-left: 30px;
		padding-right: 30px;
	}


// Background colours/patterns
.bg-grey {
	background-color: $color-grey-light;
}
.bg-black {
	color: #fff;
	background-color: #000;

	a { color: #fff; }
}


// General panel styling
.panel-title, .panel-intro, .panel-outro { text-align: center; }
.panel-intro { @include rem(margin-bottom, 45px); }
.panel-outro { @include rem(margin-top, 45px); }

.text-block {
	padding: 15px;
	background-color: #fff;
}



// ----- Header -----
.header {
    background-color: #ddd;
}
	.logo {
		float: left;
		margin: 10px 0;
	}
	.nav-primary {
		float: right;
		margin: 10px 0;

		a {
			padding: 2px;
			margin-left: 10px;
		}
		a:hover, a:focus, .active {
			color: $color-grey-medium;
		}
	}


// Header image
.header-img {
	position: relative;
	overflow: hidden;

	.item, img, .header-text { width: 100%; }

	.item { 
		max-height: 450px;
		overflow: hidden;
	}
	&.header-img-lg .item { 
		max-height: 750px;
	}

		.header-text {
			@include align-center();
			position: absolute;
			text-align: center;
			color: #fff;
		}
			h1 { @include rem(font-size, 52px); }
}



// ----- Cookie -----
.cookie {
	display: none; 
	text-align: left;
	@include rem(font-size, 14px); 
	background: $color-grey-medium;

	.container {
		position: relative;
		padding-right: 45px;
	}
		.cookie-text {
			float: left;
			margin-right: 10px;
			margin-bottom: 4px;
		}
			.btn { 
				float: left; 
			}
			.cookie-close { 
				position: absolute;
				right: 15px;
				@include rem(font-size, 32px); 
			}
}
.cookie.active { display: block; }



// ----- Footer -----
.footer {
	@include rem(font-size, 12px);
	background: $color-grey-light;

	.nav-social {
		float: right;

		a {
			padding: 2px 4px;
			margin-left: 10px;
			@include rem(font-size, 20px);
			color: #fff;
		}
	}
}

	.nav-footer {

		a { 			
			padding: 2px;
			margin-right: 10px;
		}
	}



// ----- XS - 479px and down -----
@media (max-width: $screen-xs-custom-max) {  

}

// 480px and up
@media (min-width: $screen-xs-custom-min) {  

}

// 599px and down
@media (max-width: $screen-xsm-custom-max) {  

}

// 600px and up
@media (min-width: $screen-xsm-custom-min) {  

}

// 767px and down
@media (max-width: $screen-sm-custom-max) { 

}


// ----- SM - 768px and up ----- 
@media (min-width: $screen-sm-min) { 
	.nav-mobile-toggle {
		display: none;
	}
}

// 768px - 991px
@media (min-width: $screen-sm-custom-min) and (max-width: $screen-md-custom-max) { 

}

// 991px and down
@media (max-width: $screen-md-custom-max) {  

}


// ----- MD - 992px and up  -----
@media (min-width: $screen-md-custom-min) {  

}

// 992px - 1999px
@media (min-width: $screen-md-custom-min) and (max-width: $screen-lg-custom-max) {  

}


// ----- LG - 1200px and up -----
@media (min-width: $screen-lg-custom-min) { 

}
